* {
    margin: 0;
    padding: 0;
}

:root {
    --color1: #111111;
    --color2: #FCFCFC;
}

.sidebar {
    height: 100vh;
    width: 300px;
    background-color: var(--color1);
    overflow: hidden;
}

/* Wrapper para cada item */
.wrapper {
    width: 100%;
    position: relative;
}

.content {
    background-color: red;
    position: relative;
    color: var(--color2);
    padding: 20px;
    height: 100%;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

/* Efeito quando o item é selecionado */
.wrapper.selected .content {
    background-color: var(--color2);
    color: var(--color1);
    border-radius: 20px; /* Arredondamento para o item selecionado */
    z-index: 1;
}

/* Arredondando o topo do primeiro item e a base do último item */
.wrapper:first-child .content {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.wrapper:last-child .content {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Efeito hover para outros itens */
.wrapper:hover .content {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
